
/* Google font-Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font: size 16px;
}


/* header-section  */
.header-section{
    margin: 0px auto;
    max-width: 1600px;
    background-color: #1A0B2E;
}
/* navbar-section */
.navber{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.918);
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 16px 200px;
}
.nav-title{
    color: #FFFFFF;
    font-size: 2rem;
    width: 219px;
}
.title-wave{
  background: linear-gradient(to right, rgb(205, 7, 223), rgb(223, 121, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-text a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-right: 34px;
    text-decoration: none;
}
.hamburgger-menu{
    display: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Button-section */

.btn{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.btn-primary {
    font-style: Semi Bold;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;

    color: #ffffffe7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border-radius: 100px;
    /* background-color: rgb(205, 7, 223); */
    background: var(--Linear, linear-gradient(45.64deg, rgb(243, 95, 36),rgb(205, 7, 223),rgb(223, 121, 4)));
}

.btn-02{
    color:#00FF88;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    gap: 8;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid #951ce6;
    
}


/* Hero-section  */

.hero-section {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative; 
}
.hero-container{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mic-box {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 50px auto;
}
.circle-bg {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #ffcc00, #ff00ff, #6a00ff);
  border-radius: 50%;
  animation: pulse 2s infinite;
}
.mic-img {
  position: absolute;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.mic-box:hover .mic-img {
  transform: translate(-50%, -50%) scale(1.1);
}
@keyframes Pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* Title-section */
.hero-title h1 {
    color: rgb(244, 206, 255);
    font-size: 4rem;
    font-weight: 800;
    line-height: 73px;
    text-align: center;
}
.hero-title p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

/* Podcast-section */

.Podcast-section{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    background: rgba(26, 11, 46, 1);
    box-sizing: border-box;
    padding: 50px 200px 120px 200px;
}

.Podcast-title h3 {
    color: #FFFFFF;
    font-style: Bold;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.Podcast-title p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.Podcast-features{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.Podcast-features h4 {
    color: #00FF88;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}

.Podcast-features p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}
.features-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
}

/* Why choose techwave section  */

.Choose-container{
    margin: 0 auto;
    max-width: 1600px;
    box-sizing: border-box;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 120px 200px 120px 200px;
}
.box-title{
    color: #FFFFFF;   
    font-style: Bold;
    font-size: 4rem;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}
.box-grid h4 {
    color: #FFFFFF;
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
}
.box-grid p {
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.box-grid{
    margin: 0 auto;
    display: grid;
    gap: 30px;
    color:#FFFFFF;
    background: rgba(35, 14, 61, 1);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,380px);
}
.box-1{
    grid-column: span 1;
    grid-row: span 2;
    width: 380px;
    height: 480px;
    display: flex;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}
.box-2{
    grid-column: span 2;
    grid-row: span 1;
    width: 790px;
    height: 273px;
    display: flex;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}
.box-3{
    grid-column: span 2;
    grid-row: span 1;
    width: 790px;
    height: 273px;
    display: flex;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}
.box-4{
    grid-column: span 2;
    grid-row: span 1;
    width: 790px;
    height: 273px;
    display: flex;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}
.box-5{
    grid-column: span 1;
    grid-row: span 1;
    width: 380px;
    height: 273px;
    display: flex;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:  40px;

}

/* episodes-section */
.episodes-section{
    margin:0 auto;
    max-width: 1600px;
    box-sizing: border-box;
    background: rgba(26, 11, 46, 1);
    padding: 50px 200px 120px 200px;
}
.episodes-title h3 {
    color: #FFFFFF;
    font-style: Bold;
    font-size: 4rem;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}
.episode-card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30;
    align-items: center;
    color:#FFFFFF;
    background: rgba(35, 14, 61, 1);
}
.episode-card h4 {
    color: #FFFFFF;
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
}

.episode-card p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.card-box {
    width: 380px;
    height: 440px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.card-box .time-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.card-box .time-box p{
    color: #00FF88;
}

/* host-section */
.host-section{
    margin:0 auto;
    max-width: 1600px;
    box-sizing: border-box;
    background: rgba(26, 11, 46, 1);
    padding: 50px 200px 120px 200px;
}
.host-containaer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40;
}
.host-containaer h3 {
    color: #FFFFFF;
    font-style: Bold;
    font-size: 4rem;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}
.host-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: rgba(53, 17, 101, 0.4);
}
.host-banner h4 {
    color: #FFFFFF;
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
}
.host-banner p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.host-icon{
    width: 184px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.host-icon .icon{
    border: 1px solid #705099;
    border-radius: 50%;
    padding: 6px;
    width: 20px;
    height: 20px;
}

.footer-section{
    margin:0 auto;
    max-width: 1600px;
    box-sizing: border-box;
    background: rgba(26, 11, 46, 1);
    padding: 50px 200px 120px 200px;
    align-items: center;
    justify-items: center;
}
.footer-bg{
    position: relative;    
    background-image: url("../Images/footer-bg.png");

}
.footer-container{
    width: 1360px;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
    position: absolute;
}

.footer-box{
    position: absolute;
}
.title-footer{

    color: #ee7631ea;
    font-style: Bold;
    font-size: 4rem;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}
.footer-wave{
    background: linear-gradient(to right, rgb(205, 7, 223), rgb(223, 121, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-icon{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.footer-icon p{
    color: rgba(250, 250, 250, 1);
    font-style: Medium;
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}
.copyright{
    color: rgba(250, 250, 250, 1);

font-size: 1rem;
font-weight: 400;
line-height: 24px;
text-align: center;
}

/* Media screen section  */
@media screen and (max-width:576px) {

.header-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px auto;
    max-width: 576px;
    background-color: #1A0B2E;
}

.navber{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    display: flex;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.918);
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px 30px;
}

.nav-title{
    color: #FFFFFF;
    font-size: 2rem;
    width: 219px;
}

.title-wave{
  background: linear-gradient(to right, rgb(205, 7, 223), rgb(223, 121, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-text a {
    display: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-right: 24px;
    text-decoration: none;
}

#nav-btn{
    display: none;
}

.hamburgger-menu{
    display: grid;
    width: 24px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.hero-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 576px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative; 
    gap: 40px;
}

.hero-container{
    margin-top: 80px;
    /* padding-top: 220px;
    padding-bottom: 20px; */
    max-width: 576px;
}

.hero-bg{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    max-width: 576px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    

}

  .mic-box {
    width: 160px;
    height: 160px;
  }

  .mic-img {
    width: 65px;
  }
  /* Podcast-section  */
.Podcast-section{
    max-width: 576px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    background: rgba(26, 11, 46, 1);
    box-sizing: border-box;
    padding: 30px 60px 30px 60px;
}

.Podcast-features{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    max-width: 576px;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.Podcast-title h3 {
    margin-top: 220px;
}

/* Why choose techwave section  */
.Choose-container{
    max-width: 576px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 576px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.box-grid p{
    max-width: 500px;
}

.episodes-section{
    max-width: 576px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.episode-card{
    max-width: 576px;
    display: flex;
    flex-direction: column;
}

.host-containaer{
    max-width: 576px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
}

.host-title h3{
    max-width: 576px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
}

.host-text{
    padding-right: 20px;
}

/* footer-section   */
.footer-section{
    max-width: 576px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 24px;
}

.footer-bg{
    max-width: 576px;
}

}

